{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "extends": [
    "airbnb", 
    "airbnb-typescript",
    "prettier",
    "plugin:prettier/recommended",
    "react-app", 
    "react-app/jest",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "quotes": ["error", "double", {"avoidEscape": true}],
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off"
  }
}